.sidebar {
    display:flex;
    flex-direction:column;
    position:fixed;
    left:0;
    transition:300ms;
    height:95vh;
    background-color: rgb(39 39 42);
    width:3vw;
    justify-content:space-between;            

}
.sidebar:hover{
    transition:200ms;
    width:12vw;
}
.sidebar p {
    color:white;
    opacity:0;
    position:absolute;
    display:inline;
    font-size:1.3rem;
    margin-left:0;
    z-index:1;
}
.sidebar img{
    width:2vw;
    height:4vh;
    transition:300ms;
}
.sidebar i{
    font-size:2rem;
    z-index:2
}

.activeSidebar {
    display:flex;
    flex-direction:column;
    position:fixed;
    left:0;
    transition:300ms;
    height:95vh;
    background-color: rgb(39 39 42);
    justify-content:space-between;            

}

.activeSidebar p {
    color:white;
    opacity:0;
    position:absolute;
    display:inline;
    font-size:1.3rem;
    margin-left:0;
    z-index:1;
}
.activeSidebar img{
    width:2vw;
    height:4vh;
    transition:300ms;
}
.activeSidebar i{
    font-size:2rem;
    z-index:2
}
.activeSidebar{
    transition:200ms;
    width:12vw;
   
}
.activeSidebar p{
    transform:scale(1);
    position:static;
    transition:300ms;
    margin-left:10px;
    opacity:1;
}
.activeSidebar img{
    width:10vw;
    height:20vh;
    transition:200ms;
}
.activeSidebar div div:hover{
    transition:200ms;
    background-color:rgba(55, 48, 163,0.5);
    border-left:10px solid rgb(55,48,163);
}
.sidebar div div:hover{
    transition:200ms;
    background-color:rgba(55, 48, 163,0.5);
    border-left:10px solid rgb(55,48,163);
}
.sidebar:hover p{
    transform:scale(1);
    position:static;
    transition:300ms;
    margin-left:10px;
    opacity:1;
}
.sidebar:hover img{
    width:10vw;
    height:20vh;
    transition:200ms;
}